{{> headers/dashboard/articlesp_header}}
<!-- Article Grid -->
<div class="articleContainer">
    <div class="articles">
        {{#if article_list}}
        {{#each article_list}}
        <!--<div class="article">
            <div class="articleCont">
                <div class="articleImg">
                    <img src="/img/article/{{this._id}}.jpg" alt="{{this.title}}">
                </div>
                <div class="articleContent">
                    <h4>{{this.title}}</h4>
                    <p>{{this.description}}
                    </p>
                </div>
                <div class="articleControl">
                    <div class="editIcon">
                        <button onclick="location.href = '/dashboard/edit/{{this._id}}'">
                            <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false"
                                class="style-scope tp-yt-iron-icon"
                                style="pointer-events: none; display: block; width: 24px; height: 24px;">
                                <g width="24" height="24" viewBox="0 0 24 24" class="style-scope tp-yt-iron-icon">
                                    <path
                                        d="M14.06 7.6L16.4 9.94L6.34 20H4V17.66L14.06 7.6ZM14.06 6.19L3 17.25V21H6.75L17.81 9.94L14.06 6.19ZM17.61 4.05L19.98 6.42L18.84 7.56L16.47 5.19L17.61 4.05ZM17.61 2.63L15.06 5.18L18.85 8.97001L21.4 6.42L17.61 2.63Z"
                                        class="style-scope tp-yt-iron-icon"></path>
                                </g>
                            </svg>
                        </button>
                    </div>
                    <div class="deleteIcon">
                        <button onclick="confirmDelete('{{this._id}}')">
                            <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24"
                                viewBox="0 0 24 24" width="24" focusable="false"
                                style="pointer-events: none; display: inherit; width: 24px; height: 24px;">
                                <path d="M11 17H9V8h2v9zm4-9h-2v9h2V8zm4-4v1h-1v16H6V5H5V4h4V3h6v1h4zm-2 1H7v15h10V5z">
                                </path>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>-->
        <div class="article">
            <div class="articleCont">
                <div class="articleImg">
                    <div class="img">
                        <img src="/img/article/{{this._id}}.jpg" alt="{{this.title}}">
                    </div>
                </div>
                <div class="cont">
                    <div class="articleContent">
                        <h4>{{this.title}}</h4>
                    </div>
                    <div class="articleControl">
                        <div class="editIcon">
                            <button onclick="location.href = '/dashboard/edit/{{this._id}}'">
                                <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false"
                                    class="style-scope tp-yt-iron-icon"
                                    style="pointer-events: none; display: block; width: 24px; height: 24px;">
                                    <g width="24" height="24" viewBox="0 0 24 24" class="style-scope tp-yt-iron-icon">
                                        <path
                                            d="M14.06 7.6L16.4 9.94L6.34 20H4V17.66L14.06 7.6ZM14.06 6.19L3 17.25V21H6.75L17.81 9.94L14.06 6.19ZM17.61 4.05L19.98 6.42L18.84 7.56L16.47 5.19L17.61 4.05ZM17.61 2.63L15.06 5.18L18.85 8.97001L21.4 6.42L17.61 2.63Z"
                                            class="style-scope tp-yt-iron-icon"></path>
                                    </g>
                                </svg>
                            </button>
                        </div>
                        &nbsp;
                        <div class="deleteIcon">
                            <!-- Share button -->
                            <button onclick="confirmDelete('{{this._id}}')">
                                <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24"
                                    viewBox="0 0 24 24" width="24" focusable="false"
                                    style="pointer-events: none; display: inherit; width: 24px; height: 24px;">
                                    <path
                                        d="M11 17H9V8h2v9zm4-9h-2v9h2V8zm4-4v1h-1v16H6V5H5V4h4V3h6v1h4zm-2 1H7v15h10V5z">
                                    </path>
                                </svg>
                            </button>
                        </div>
                        &nbsp;
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
        {{else}}
        <div class="comingSoon">
            <div class="comgText">
                <span>No articles <span class="higlight">:)</span></span>
            </div>
        </div>
        {{/if}}
    </div>
</div>

<script>
    function confirmDelete(articleId) {
        var userInput = prompt("To delete this article, please type 'DELETE MY ARTICLE' in capital letters:");
        if (userInput === "DELETE MY ARTICLE") {
            // If the user input matches the required text, proceed with the deletion
            window.location.href = '/article/delete/' + articleId;
        } else {
            // If the user input doesn't match, show an alert
            alert("Invalid input. Please type 'DELETE MY ARTICLE' in capital letters to delete the article.");
        }
    }
</script>

<!-- Dashboard Graph Metrix Coming Soon -->
<!-- <div class="comingSoon">
        <div class="comgText">
            <span>Dashboard Graph Metrics Under Construction. Please wait, they will be coming soon! Our team is working
                on it <span class="higlight">:)</span></span>
        </div>
    </div> -->

<!-- New Article Button -->
<div class="newArticle">
    <div class="articleButton">
        <a href="dashboard/article/new">
            <button>
                <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false"
                    class="style-scope tp-yt-iron-icon"
                    style="pointer-events: none; display: block; width: 28px; height: 28px;">
                    <g width="24" height="24" viewBox="0 0 24 24" class="style-scope tp-yt-iron-icon">
                        <path
                            d="M14.06 7.6L16.4 9.94L6.34 20H4V17.66L14.06 7.6ZM14.06 6.19L3 17.25V21H6.75L17.81 9.94L14.06 6.19ZM17.61 4.05L19.98 6.42L18.84 7.56L16.47 5.19L17.61 4.05ZM17.61 2.63L15.06 5.18L18.85 8.97001L21.4 6.42L17.61 2.63Z"
                            class="style-scope tp-yt-iron-icon"></path>
                    </g>
                </svg>
            </button>
        </a>
    </div>
</div>